<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obrigado por Votar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_urna.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/logo.jfif') }}" alt="Logo Urna Eletrônica" class="logo-small">
        <h1>Obrigado por Votar!</h1>
        <p class="agradecimento-message">Sua participação é muito importante para nós.</p>
        <a href="{{ url_for('index') }}" class="btn">Voltar ao Início</a>
    </div>
</body>
</html>
