<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Candidatos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_urna.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/logo.jfif') }}" alt="Logo Urna Eletrônica" class="logo-small">
        <h1>Cadastro de Candidatos</h1>
        <form method="POST" action="{{ url_for('cadastrar') }}">
            <label for="nome_candidato">Nome do Candidato:</label>
            <input type="text" name="nome_candidato" id="nome_candidato" required>

            <button type="submit" class="btn">Cadastrar Candidato</button>
        </form>
    </div>
</body>
</html>
