<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da Votação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_urna.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/logo.jfif') }}" alt="Logo Urna Eletrônica" class="logo-small">
        <h1>Resultado da Votação</h1>
        <div class="result">
            <table>
                <thead>
                    <tr>
                        <th>Candidato</th>
                        <th>Pontos</th>
                        <th>Percentual (%)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resultado in resultados %}
                    <tr>
                        <td>{{ resultado[0] }}</td>
                        <td>{{ resultado[1] }}</td>
                        <td>{{ '%.2f' % resultado[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ url_for('index') }}" class="btn">Voltar ao Início</a>
    </div>
</body>
</html>
