<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_urna.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/logo.jfif') }}" alt="Logo Urna Eletrônica" class="logo-small">
        <h1>Votação</h1>
        <form method="POST" action="{{ url_for('votar') }}">
            <p>Classifique os candidatos em ordem de preferência (1º ao 3º lugar):</p>
            <ul>
                {% for i in range(1, 4) %}
                <li>
                    <label for="preferencia_{{ i }}">Preferência {{ i }}:</label>
                    <select name="preferencia" id="preferencia_{{ i }}" required>
                        {% for candidato in candidatos %}
                        <option value="{{ candidato[0] }}">{{ candidato[1] }}</option>
                        {% endfor %}
                    </select>
                </li>
                {% endfor %}
            </ul>
            <button type="submit" class="btn">Votar</button>
        </form>
    </div>
</body>
</html>
