<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_urna.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/logo.jfif') }}" alt="Logo Urna Eletrônica" class="logo-small">
        <h1>Votação</h1>
        <form method="POST" action="{{ url_for('votar') }}">
            <div class="form-group">
                <label for="preferencia1">Preferência 1:</label>
                <select name="preferencia" id="preferencia1" required>
                    {% for candidato in candidatos %}
                    <option value="{{ candidato.id }}">{{ candidato.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="preferencia2">Preferência 2:</label>
                <select name="preferencia" id="preferencia2" required>
                    {% for candidato in candidatos %}
                    <option value="{{ candidato.id }}">{{ candidato.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="preferencia3">Preferência 3:</label>
                <select name="preferencia" id="preferencia3" required>
                    {% for candidato in candidatos %}
                    <option value="{{ candidato.id }}">{{ candidato.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn">Votar</button>
        </form>
    </div>
</body>
</html>
